<nav class="navbar navbar-light mb-3">
  <a class="navbar-brand" href="/">{{ 'app-header.brand' | translate }}</a>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active"
         routerLink="/">{{ 'app-header.links.home' | translate }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         routerLink="/about">{{ 'app-header.links.about' | translate }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://github.com/CodeAllianceOrg/odk2">
        {{ 'app-header.links.github' | translate }}
      </a>
    </li>
  </ul>
</nav>
