<h2>Properties</h2>
<div id="element-properties-controls-container"
     *ngIf="item$ | async ; let item">
  <div class="form-group">

    <fieldset>
      <legend>Base</legend>

      <label for="item-name">Item Name</label>

      <div class="input-group">

        <span class="input-group-addon">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </span>
        <input type="text"
               class="form-control element-name"
               id="item-name"
               [ngModel]="item.properties.name"
               (ngModelChange)="onPropertyChange($event, item.id, 'name')">
      </div>

      <label class="custom-control custom-checkbox element-required mt-3">
        <input type="checkbox"
               class="custom-control-input element-required"
               [ngModel]="item.properties.required"
               (ngModelChange)="onPropertyChange($event, item.id, 'required')">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">
          Required
        </span>
      </label>

    </fieldset>

    <fieldset>
      <legend>
        Display
      </legend>

      <label for="item-display-base">Base</label>

      <div class="input-group pb-2">

        <span class="input-group-addon">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </span>
        <input type="text"
               class="form-control element-display-base"
               id="item-display-base"
               [ngModel]="item.properties.display.base"
               (ngModelChange)="onPropertyChange($event, item.id, ['display', 'base'])">
      </div>

      <label for="item-display-es">Español</label>

      <div class="input-group">

        <span class="input-group-addon">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </span>
        <input type="text"
               class="form-control element-display-es"
               id="item-display-es"
               [ngModel]="item.properties.display.es"
               (ngModelChange)="onPropertyChange($event, item.id, ['display', 'es'])">
      </div>

    </fieldset>

  </div>

</div>
