<h2>Properties</h2>
<div id="element-properties-controls-container"
     *ngIf="group$ | async ; let group">
  <div class="form-group">

    <label for="group-name">Group Name</label>

    <div class="input-group">

      <span class="input-group-addon">
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </span>
      <input type="text"
             class="form-control element-name"
             id="group-name"
             [ngModel]="group.properties.name"
             (ngModelChange)="onGroupPropertyChange($event, group.id, 'name')">
    </div>

    <label class="custom-control custom-checkbox element-required mt-3">
      <input type="checkbox"
             class="custom-control-input element-required"
             [ngModel]="group.properties.required"
             (ngModelChange)="onGroupPropertyChange($event, group.id, 'required')">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">
        Required
      </span>
    </label>

    <fieldset>
      <legend>
        Group Display
      </legend>

      <label for="group-display-base">Base</label>

      <div class="input-group">

        <span class="input-group-addon">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </span>
        <input type="text"
               class="form-control element-display-base"
               id="group-display-base"
               [ngModel]="group.properties.display.base"
               (ngModelChange)="onGroupPropertyChange($event, group.id, ['display', 'base'])">
      </div>

      <label for="group-display-es">Español</label>

      <div class="input-group">

        <span class="input-group-addon">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </span>
        <input type="text"
               class="form-control element-display-es"
               id="group-display-es"
               [ngModel]="group.properties.display.es"
               (ngModelChange)="onGroupPropertyChange($event, group.id, ['display', 'es'])">
      </div>

    </fieldset>

  </div>

</div>
