<h3 class="section-header">
  {{ 'app-form-builder-properties.title' | translate }}
</h3>

<div id="element-properties-controls-container"
     *ngIf="item$ | async ; let item">
  <div class="form-group">

    <fieldset class="mb-4">
      <legend>
        {{ 'app-form-builder-properties.form.base.legend' | translate }}
      </legend>

      <label for="item-name">
        {{ 'app-form-builder-properties.form.base.machine-name' | translate }}
      </label>

      <div class="input-group">

        <span class="input-group-addon">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </span>
        <input type="text"
               class="form-control element-name"
               id="item-name"
               [ngModel]="item.properties.name"
               (ngModelChange)="onPropertyChange($event, item.id, 'name')">
      </div>

      <label class="custom-control custom-checkbox element-required mt-3"
             *ngIf="properties.required">
        <input type="checkbox"
               class="custom-control-input element-required"
               [ngModel]="item.properties.required"
               (ngModelChange)="onPropertyChange($event, item.id, 'required')">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">
          {{ 'common.required.label' | translate }}
        </span>
      </label>

    </fieldset>

    <fieldset class="mb-4">
      <legend>
        {{ 'app-form-builder-properties.form.display.legend' | translate }}
      </legend>

      <label for="item-display-base">
        {{ 'app-form-builder-properties.form.display.en' | translate }}
      </label>

      <div class="input-group pb-2">

        <span class="input-group-addon">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </span>
        <input type="text"
               class="form-control element-display-base"
               id="item-display-base"
               [ngModel]="item.properties.display.base"
               (ngModelChange)="onPropertyChange($event, item.id, ['display', 'base'])">
      </div>

      <label for="item-display-es">
        {{ 'app-form-builder-properties.form.display.es' | translate }}
      </label>

      <div class="input-group">

        <span class="input-group-addon">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </span>
        <input type="text"
               class="form-control element-display-es"
               id="item-display-es"
               [ngModel]="item.properties.display.es"
               (ngModelChange)="onPropertyChange($event, item.id, ['display', 'es'])">
      </div>

    </fieldset>

  </div>

</div>
