<h2>Form Elements</h2>
<button type="button"
        class="btn btn-secondary btn-lg btn-block"
        (click)="onAddTextElement()"
        [disabled]="!groupId">
  Text
</button>
<button type="button"
        class="btn btn-secondary btn-lg btn-block"
        (click)="onAddNumericElement()"
        disabled>
  Numeric
</button>
<button type="button"
        class="btn btn-secondary btn-lg btn-block"
        (click)="onAddGPSElement()"
        disabled>
  GPS
</button>
<button type="button"
        class="btn btn-secondary btn-lg btn-block"
        (click)="onAddComboBoxElement()"
        disabled>
  Combo Box
</button>
<button type="button"
        class="btn btn-secondary btn-lg btn-block"
        (click)="onAddMultiSelectElement()"
        disabled>
  Multi Select
</button>
