<h3 class="section-header">{{ 'app-form-builder-elements.title' | translate }}</h3>
<ul class="list-unstyled">
  <li class="mb-1">
    <button type="button"
            class="btn btn-secondary btn-lg btn-block"
            (click)="onAddTextElement()"
            [disabled]="!groupId">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
      <span class="sr-only">{{ 'app-form-builder-elements.common.add' | translate }}</span>
      {{ 'app-form-builder-elements.types.text' | translate }}
    </button>
  </li>
  <li class="mb-1">
    <button type="button"
            class="btn btn-secondary btn-lg btn-block"
            (click)="onAddNumericElement()"
            disabled>
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
      <span class="sr-only">{{ 'app-form-builder-elements.common.add' | translate }}</span>
      {{ 'app-form-builder-elements.types.numeric' | translate }}
    </button>
  </li>
  <li class="mb-1">
    <button type="button"
            class="btn btn-secondary btn-lg btn-block"
            (click)="onAddGPSElement()"
            disabled>
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
      <span class="sr-only">{{ 'app-form-builder-elements.common.add' | translate }}</span>
      {{ 'app-form-builder-elements.types.gps' | translate }}
    </button>
  </li>
  <li class="mb-1">
    <button type="button"
            class="btn btn-secondary btn-lg btn-block"
            (click)="onAddComboBoxElement()"
            disabled>
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
      <span class="sr-only">{{ 'app-form-builder-elements.common.add' | translate }}</span>
      {{ 'app-form-builder-elements.types.combo' | translate }}
    </button>
  </li>
  <li class="mb-1">
    <button type="button"
            class="btn btn-secondary btn-lg btn-block"
            (click)="onAddMultiSelectElement()"
            disabled>
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
      <span class="sr-only">{{ 'app-form-builder-elements.common.add' | translate }}</span>
      {{ 'app-form-builder-elements.types.multi' | translate }}
    </button>
  </li>
</ul>
