<nav class="navbar navbar-light mb-3" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="/">ODK 2.0 Form Builder</a>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://github.com/CodeAllianceOrg/odk2">Github</a>
    </li>
  </ul>
</nav>

<div class="container-fluid main">
  <div class="row tabs">
    <ngb-tabset>
      <ngb-tab *ngFor="let form of forms$ | async"
               title="Intake North">
        <ng-template ngbTabContent>
          <div class="row my-2">
            <div class="col-4">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </span>
                <input type="text" class="form-control" placeholder="Form name" id="form-name">
              </div>
            </div>
            <div class="col-6"></div>
            <div class="col-2 d-flex flex-row-reverse">
              <button type="button" class="btn btn-primary" id="export">
                Export <i class="fa fa-floppy-o" aria-hidden="true"></i>
              </button>
            </div>
          </div>

          <div class="row">
            <div class="col-2 text-center p-3" id="form-elements">
              <h2>Form Elements</h2>
              <button type="button" class="btn btn-secondary btn-lg btn-block">Text</button>
              <button type="button" class="btn btn-secondary btn-lg btn-block">Numeric</button>
              <button type="button" class="btn btn-secondary btn-lg btn-block">GPS</button>
              <button type="button" class="btn btn-secondary btn-lg btn-block">Combo Box</button>
              <button type="button" class="btn btn-secondary btn-lg btn-block">Multi Select</button>
            </div>

            <div class="col-6 text-center p-3" id="groups">
              <h2>Groups</h2>
              <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-primary" id="add-group">
                  Add Group <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </button>
              </div>
            </div>

            <div class="col-4 text-center p-3" id="element-properties">
              <h2>Properties</h2>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="New Form">
        <ng-template ngbTabContent>
          <h2 class="mt-3">Create or Import</h2>
          <div class="row">
            <div class="col border border-dark border-top-0 border-left-0 border-bottom-0 d-flex justify-content-center my-flex">
              <button type="button" class="btn btn-primary btn-lg" id="new-form" (click)="add()">
                <i class="fa fa-file-o" aria-hidden="true"></i> Blank Form
              </button>
            </div>
            <div class="col d-flex justify-content-center">
              <button type="button" class="btn btn-primary btn-lg" id="upload-form">
                <i class="fa fa-upload" aria-hidden="true"></i> Upload File
              </button>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
