<div class="row my-2">
  <div class="col-4">
    <div class="input-group">
      <span class="input-group-addon">
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </span>
      <input type="text"
             class="form-control"
             placeholder="Form name"
             id="form-name"
             [ngModel]="form.name"
             (ngModelChange)="onFormNameChange(form, $event)">
    </div>
  </div>
  <div class="col-6"></div>
  <div class="col-2 d-flex flex-row-reverse">
    <button type="button" class="btn btn-primary" id="export">
      Export <i class="fa fa-floppy-o" aria-hidden="true"></i>
    </button>
  </div>
</div>

<div class="row">
  <div class="col-2 text-center p-3"
       id="form-elements">
    <h2>Form Elements</h2>
    <button type="button"
            class="btn btn-secondary btn-lg btn-block"
            (click)="onAddTextElement()"
            [disabled]="!(selectedGroupId$ | async)">
      Text
    </button>
    <button type="button"
            class="btn btn-secondary btn-lg btn-block"
            (click)="onAddNumericElement()"
            [disabled]="!(selectedGroupId$ | async)">
      Numeric
    </button>
    <button type="button"
            class="btn btn-secondary btn-lg btn-block"
            (click)="onAddGPSElement()"
            [disabled]="!(selectedGroupId$ | async)">
      GPS
    </button>
    <button type="button"
            class="btn btn-secondary btn-lg btn-block"
            (click)="onAddComboBoxElement()"
            [disabled]="!(selectedGroupId$ | async)">
      Combo Box
    </button>
    <button type="button"
            class="btn btn-secondary btn-lg btn-block"
            (click)="onAddMultiSelectElement()"
            [disabled]="!(selectedGroupId$ | async)">
      Multi Select
    </button>
  </div>

  <div class="col-6 text-center p-3" id="groups">
    <h2>Groups</h2>

    <div class="group-item p-2 m-2"
         *ngFor="let group of form.groups; trackBy: tracker"
         [class.active]="(selectedGroupId$ | async) === group.id"
         [class.border]="(selectedGroupId$ | async) === group.id"
         (click)="onSelectGroup(group)">

      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </span>
        <input type="text"
               class="form-control group-name"
               placeholder="Group name"
               [ngModel]="group.name"
               (ngModelChange)="onGroupNameChange(group, $event)">
      </div>

      <ul class="mb-0">
        <li class="question-element-item"
            *ngFor="let element of group.elements; trackBy: tracker"
            [ngSwitch]="element.type">

          <div class="text-question-element-item"
               *ngSwitchCase=" 'text' ">
            Text Question Element {{ element.id }}
          </div>

          <div class="numeric-question-element-item"
               *ngSwitchCase=" 'numeric' ">
            Numeric Question Element {{ element.id }}
          </div>

          <div class="gps-question-element-item"
               *ngSwitchCase=" 'gps' ">
            GPS Question Element {{ element.id }}
          </div>

          <div class="combo-box-question-element-item"
               *ngSwitchCase=" 'combo' ">
            Combo Box Question Element {{ element.id }}
          </div>

          <div class="multi-select-question-element-item"
               *ngSwitchCase=" 'multi' ">
            Multi Select Question Element {{ element.id }}
          </div>
        </li>
      </ul>

    </div>

    <div class="d-flex justify-content-center">
      <button type="button"
              class="btn btn-primary"
              id="add-group"
              (click)="onAddGroup(form)">
        Add Group <i class="fa fa-plus-circle" aria-hidden="true"></i>
      </button>
    </div>
  </div>

  <div class="col-4 text-center p-3" id="element-properties">
    <h2>Properties</h2>
    <div id="element-properties-controls-container"
         *ngIf="selectedGroupId$ | async; let groupId">
      <button id="delete-selected"
              (click)="onDeleteSelectedItem(groupId)">
        Delete
      </button>
    </div>
  </div>
</div>
