<div class="d-flex justify-content-between my-2">
  <div>
    <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </span>
      <label for="form-name" class="sr-only">
        {{ 'app-form-builder-header.form.name' | translate }}
      </label>
      <input id="form-name"
             class="form-control"
             type="text"
             title="{{ 'app-form-builder-header.form.name' | translate }}"
             placeholder="{{ 'app-form-builder-header.form.name' | translate }}"
             [attr.aria-label]="'app-form-builder-header.form.name' | translate"
             [ngModel]="form.properties?.name"
             (ngModelChange)="onFormNameChange($event)">
    </div>
  </div>

  <button type="button"
          class="btn btn-primary"
          id="export"
          (click)="saveAs()">
    {{ 'app-form-builder-header.actions.export' | translate }}
    <i class="fa fa-floppy-o" aria-hidden="true"></i>
  </button>
</div>
